Repository hashicorp/nomad-autoscaler, pull requests merged in 2020-11, with the labels that each got.

#308 demo/das: remove binary install as job uses Docker image.
  demo/vagrant/dynamic-app-sizing/Vagrantfile
Labels: bug, demo

#314 build: use makefile to install CI tools locally and in CircleCI.
  .circleci/config.yml
  .circleci/config/commands/install-golangci-lint.yml
  .circleci/config/jobs/check-deps-go.yml
  .circleci/config/jobs/lint-go.yml
  GNUmakefile
  tools/go.mod
  tools/go.sum
  tools/tools.go
Labels: theme/testing, type/enhancement

#312 add HTTP endpoint to reload agent
  agent/agent.go
  agent/http/agent.go
  agent/http/agent_test.go
  agent/http/health_test.go
  agent/http/metrics.go
  agent/http/metrics_test.go
  agent/http/server.go
  agent/http/testing.go
  agent/http_handler.go
  agent/testing.go
  command/agent.go
Labels: theme/agent, type/enhancement

#315 build: use staticcheck to perform code analysis locally and in CI
  GNUmakefile
  agent/http/server.go
  plugins/builtin/apm/datadog/plugin/plugin.go
  plugins/builtin/apm/prometheus/plugin/plugin.go
  plugins/builtin/target/aws-asg/plugin/aws.go
  plugins/builtin/target/aws-asg/plugin/plugin.go
  plugins/builtin/target/azure-vmss/plugin/azure.go
  plugins/builtin/target/nomad/plugin/plugin.go
  policy/nomad/parser.go
  policy/nomad/validate.go
  policyeval/broker_test.go
  sdk/helper/uuid/uuid_test.go
  tools/go.mod
  tools/tools.go
Labels: theme/testing, type/enhancement

#313 Allow multiple policies per file
  demo/remote/aws_autoscaler.nomad
  demo/remote/azure/terraform/modules/azure-hashistack/templates/azure_autoscaler.nomad
  policy/file/parse.go
  policy/file/parse_test.go
  policy/file/source.go
  policy/file/source_test.go
  policy/file/test-fixtures/full-cluster-policy.hcl
  policy/file/test-fixtures/full-task-group-policy.hcl
  sdk/policy.go
  sdk/policy_test.go
Labels: stage/accepted, theme/policy, theme/policy-source/file, type/enhancement
