Repository hashicorp/nomad-autoscaler, pull requests merged in 2020-06, with the labels that each got.

#147 Update demo dashboard screenshot and description
  demo/vagrant/README.md
  demo/vagrant/images/dashboard.png
Labels: demo, documentation

#148 Fix reason stack to avoid overwriting previous reason
  plugins/strategy/action.go
  plugins/strategy/action_test.go
Labels: bug, strategy

#151 admin: add codeowners file to allow automatic assigning of PRs.
  .github/CODEOWNERS
Labels: admin, enhancement

#161 helper: add scaleutils to provide cluster scale in helper tasks.
  helper/scaleutils/filter.go
  helper/scaleutils/filter_test.go
  helper/scaleutils/nomad.go
  helper/scaleutils/request.go
  helper/scaleutils/request_test.go
Labels: enhancement

#164 agent: add policy dir config param to allow policies from disk.
  agent/config/config.go
  agent/config/config_test.go
  command/agent.go
Labels: agent, enhancement

#168 cli: fix incorrect flag help detail for nomad-ca-path.
  CHANGELOG.md
  command/agent.go
  docs/cli/README.md
Labels: bug, cli

#163 plugins/target/aws-asg: Add new target plugin for AWS ASGs.
  go.mod
  go.sum
  helper/scaleutils/request.go
  plugins/builtin/target/aws-asg/main.go
  plugins/builtin/target/aws-asg/plugin/aws.go
  plugins/builtin/target/aws-asg/plugin/aws_test.go
  plugins/builtin/target/aws-asg/plugin/event.go
  plugins/builtin/target/aws-asg/plugin/event_test.go
  plugins/builtin/target/aws-asg/plugin/plugin.go
  plugins/builtin/target/aws-asg/plugin/plugin_test.go
  plugins/builtin/target/aws-asg/plugin/retry.go
  plugins/builtin/target/aws-asg/plugin/retry_test.go
Labels: enhancement, plugins

#170 strategy: use single action for Run response rather than array.
  agent/agent.go
  plugins/builtin/strategy/target-value/plugin/plugin.go
  plugins/builtin/strategy/target-value/plugin/plugin_test.go
  plugins/strategy/action.go
  plugins/strategy/action_test.go
  plugins/strategy/strategy.go
Labels: enhancement, strategy

#177 scaleutils: make node filtering easier with PoolIdentifier func.
  helper/scaleutils/filter.go
  helper/scaleutils/nomad.go
Labels: enhancement

#179 policy/nomad: fix fast loop when Nomad policy syntax is incorrect.
  CHANGELOG.md
  policy/nomad/source.go
Labels: bug, policy

#180 Make IndexHasChanged more resilient to Raft quirks
  helper/blocking/blocking.go
  helper/blocking/blocking_test.go
Labels: bug

#182 scaleutils: only log drain msg body rather than whole struct.
  helper/scaleutils/nomad.go
Labels: bug

#183 plugin/aws-asg: change log levels and small fixes.
  plugins/builtin/target/aws-asg/plugin/aws.go
  plugins/builtin/target/aws-asg/plugin/plugin.go
Labels: enhancement

#184 plugin/target/aws-asg: fix panic when parsing last ASG activity.
  plugins/builtin/target/aws-asg/plugin/plugin.go
  plugins/builtin/target/aws-asg/plugin/plugin_test.go
Labels: bug, target

#178 policy: add new file source for loading policies from disk.
  agent/agent.go
  agent/config/config.go
  agent/config/config_test.go
  helper/file/dir.go
  helper/file/temp.go
  helper/file/temp_test.go
  helper/scaleutils/filter_test.go
  helper/uuid/uuid.go
  helper/uuid/uuid_test.go
  policy/file/parse.go
  policy/file/parse_test.go
  policy/file/source.go
  policy/file/test-fixtures/full-cluster-policy.hcl
  policy/manager.go
  policy/nomad/source.go
  policy/nomad/source_test.go
  policy/nomad/testing.go
  policy/policy.go
  policy/policy_test.go
  policy/source.go
Labels: enhancement, policy

#181 policy: fix deadlock in eval worker when handler has exited.
  policy/worker.go
Labels: bug, policy

#185 Horizontal Cluster Scaling with AWS ASG Target plugin.
  agent/agent.go
  agent/config/config.go
  agent/config/config_test.go
  command/agent.go
  go.mod
  go.sum
  helper/file/dir.go
  helper/file/temp.go
  helper/file/temp_test.go
  helper/scaleutils/filter.go
  helper/scaleutils/filter_test.go
  helper/scaleutils/nomad.go
  helper/scaleutils/request.go
  helper/scaleutils/request_test.go
  helper/uuid/uuid.go
  helper/uuid/uuid_test.go
  plugins/builtin/target/aws-asg/main.go
  plugins/builtin/target/aws-asg/plugin/aws.go
  plugins/builtin/target/aws-asg/plugin/aws_test.go
  plugins/builtin/target/aws-asg/plugin/event.go
  plugins/builtin/target/aws-asg/plugin/event_test.go
  plugins/builtin/target/aws-asg/plugin/plugin.go
  plugins/builtin/target/aws-asg/plugin/plugin_test.go
  plugins/builtin/target/aws-asg/plugin/retry.go
  plugins/builtin/target/aws-asg/plugin/retry_test.go
  policy/file/parse.go
  policy/file/parse_test.go
  policy/file/source.go
  policy/file/test-fixtures/full-cluster-policy.hcl
  policy/manager.go
  policy/nomad/source.go
  policy/nomad/source_test.go
  policy/nomad/testing.go
  policy/policy.go
  policy/policy_test.go
  policy/source.go
Labels: enhancement

#194 demo: use checkpoint to install versions of Consul and Nomad.
  demo/vagrant/Vagrantfile
Labels: demo, enhancement

#192 agent: allow capturing of SIGHUP to reload policy sources.
  agent/agent.go
  command/agent.go
  main.go
  policy/file/source.go
  policy/handler.go
  policy/manager.go
  policy/nomad/source.go
  policy/source.go
Labels: enhancement

#190 plugin/apm/nomad: support obtaining cluster usage metrics.
  plugins/builtin/apm/nomad/plugin/job.go
  plugins/builtin/apm/nomad/plugin/job_test.go
  plugins/builtin/apm/nomad/plugin/metrics.go
  plugins/builtin/apm/nomad/plugin/metrics_test.go
  plugins/builtin/apm/nomad/plugin/node.go
  plugins/builtin/apm/nomad/plugin/node_test.go
  plugins/target/target.go
  policy/file/source.go
  policy/nomad/source.go
  policy/nomad/source_test.go
  policy/policy.go
  policy/policy_test.go
Labels: enhancement

#197 agent: move and fix default eval interval param to policy block.
  agent/agent.go
  agent/config/config.go
  agent/config/config_test.go
  command/agent.go
Labels: cli, enhancement

#195 plugins: allow all plugins to inherit agents Nomad config.
  agent/plugins.go
  agent/plugins_test.go
  helper/nomad/config.go
  helper/nomad/config_test.go
  plugins/builtin/apm/nomad/plugin/plugin.go
  plugins/builtin/target/aws-asg/plugin/plugin.go
  plugins/builtin/target/nomad/plugin/plugin.go
  plugins/plugin.go
Labels: enhancement, plugins
