Repository hashicorp/nomad-autoscaler, pull requests merged in 2020-04, with the labels that each got.

#67 Allow `nil` value for Count
  agent/agent.go
  plugins/nomad/target/tgcount.go
  plugins/target-value/strategy/targetvalue.go
  strategy/action.go
  strategy/strategy.go
Labels: agent, enhancement, strategy, target

#80 plugins: ensure named loggers use underscore partition.
  plugins/manager/manager.go
Labels: bug, plugins

#81 agent: ensure the health server named logger uses underscores.
  agent/health.go
Labels: agent, bug

#82 plugins: improve external plugin development UX and mimic Nomad.
  plugins/apm/apm.go
  plugins/base/base.go
  plugins/builtin/apm/nomad/main.go
  plugins/builtin/apm/nomad/plugin/plugin.go
  plugins/builtin/apm/prometheus/main.go
  plugins/builtin/apm/prometheus/plugin/plugin.go
  plugins/builtin/strategy/target-value/main.go
  plugins/builtin/strategy/target-value/plugin/plugin.go
  plugins/builtin/strategy/target-value/plugin/plugin_test.go
  plugins/builtin/target/nomad/main.go
  plugins/builtin/target/nomad/plugin/plugin.go
  plugins/manager/manager.go
  plugins/plugin.go
  plugins/strategy/strategy.go
  plugins/target/target.go
Labels: enhancement, plugins

#85 Update Nomad dependancy to 0.11.0 GA release
  README.md
  demo/vagrant/Vagrantfile
  go.mod
  go.sum
Labels: enhancement

#87 plugin: return an error when Prometheus APM query returns NaN.
  CHANGELOG.md
  plugins/builtin/apm/prometheus/plugin/plugin.go
Labels: apm, bug

#90 agent: removed unused struct from agent code.
  agent/agent.go
Labels: agent, bug

#91 demo: remove Fabio service tag within prometheus task.
  demo/vagrant/jobs/prometheus.nomad
Labels: bug

#96 agent: fix test flake within agent/config Merge test.
  agent/config/config_test.go
Labels: bug

#93 build: add makefie target to check go.mod status.
  .circleci/config.yml
  .circleci/config/jobs/check-deps-go.yml
  .circleci/config/workflows/ci.yml
  GNUmakefile
Labels: enhancement

#97 build: tidy go mod dependancies detailed by new makefile target.
  go.mod
Labels: bug, dependecy

#101 build: install release when using golangci-lint on CircleCI.
  .circleci/config.yml
  .circleci/config/commands/install-golangci-lint.yml
  .circleci/config/jobs/lint-go.yml
Labels: admin, enhancement

#102 prometheus: set config should error if address is not set.
  plugins/builtin/apm/prometheus/plugin/plugin.go
Labels: enhancement

#103 plugin: add the plugin name to the logger when launching internal.
  plugins/manager/manager.go
Labels: bug, plugins

#109 demo: expose webapp port and update Nomad binary version
  demo/vagrant/Vagrantfile
Labels: demo, enhancement

#108 skip action when count doesn't change
  agent/agent.go
Labels: agent, enhancement

#106 agent: improve command error output message and format.
  command/agent.go
Labels: agent, bug, cli

#107 plugin: use logger when displaying Prom query warnings.
  plugins/builtin/apm/prometheus/plugin/plugin.go
Labels: enhancement, plugins

#110 changelog: add entries for GH-106, GH-107 and GH-108.
  CHANGELOG.md
Labels: enhancement

#111 plugin: add tests to strategy action.
  plugins/strategy/action.go
  plugins/strategy/action_test.go
Labels: enhancement, plugins

#112 Move nomad query parsing
  plugins/builtin/apm/nomad/plugin/metrics.go
  plugins/builtin/apm/nomad/plugin/metrics_test.go
  policy/nomad/parser.go
Labels: apm, enhancement
