Repository hashicorp/nomad-autoscaler, pull requests merged in 2020-05, with the labels that each got.

#113 Improve policy validation
  policy/nomad/validate.go
  policy/nomad/validate_test.go
Labels: enhancement, policy

#114 Refactor Nomad policy parsing and add tests
  CHANGELOG.md
  agent/agent.go
  agent/config/config.go
  agent/config/config_test.go
  command/agent.go
  docs/agent/README.md
  policy/nomad/parser.go
  policy/nomad/parser_test.go
  policy/nomad/source.go
  policy/nomad/source_test.go
  policy/nomad/testing.go
  policy/source.go
Labels: enhancement, policy

#115 Improve validation log
  policy/handler.go
  policy/manager.go
  policy/nomad/source.go
  policy/nomad/validate.go
Labels: enhancement, policy

#116 policy: fix Nomad target parsing when target block is empty.
  plugins/builtin/target/nomad/plugin/plugin.go
  policy/nomad/parser.go
  policy/nomad/parser_test.go
  policy/nomad/source.go
  policy/nomad/source_test.go
Labels: bug, policy

#118 Skip disabled policies when monitoring policy list from Nomad
  policy/nomad/source.go
Labels: enhancement, policy

#117 agent: support scaling cooldowns to aid oscillation migration.
  agent/agent.go
  agent/config/config.go
  agent/config/config_test.go
  command/agent.go
  plugins/builtin/target/nomad/plugin/state.go
  plugins/builtin/target/nomad/plugin/state_test.go
  plugins/manager/manager.go
  plugins/target/target.go
  policy/handler.go
  policy/handler_test.go
  policy/manager.go
  policy/nomad/parser.go
  policy/nomad/parser_test.go
  policy/nomad/source.go
  policy/nomad/source_test.go
  policy/nomad/validate.go
  policy/nomad/validate_test.go
  policy/policy.go
Labels: agent, enhancement

#121 docs: update docs to reference cooldown feature
  CHANGELOG.md
  README.md
  docs/agent/README.md
  docs/policy/README.md
Labels: documentation, enhancement

#122 plugin: fix bug in ext. strategy plugins suggesting scale to zero.
  agent/agent.go
  plugins/builtin/strategy/target-value/plugin/plugin.go
  plugins/builtin/strategy/target-value/plugin/plugin_test.go
  plugins/builtin/target/nomad/plugin/plugin.go
  plugins/strategy/action.go
  plugins/strategy/action_test.go
Labels: bug, plugins

#123 changelog: add entry for GH-122
  CHANGELOG.md
Labels: documentation, enhancement

#120 Improve demo
  demo/vagrant/README.md
  demo/vagrant/Vagrantfile
  demo/vagrant/files/dashboard.json
  demo/vagrant/files/nomad.hcl
  demo/vagrant/images/dashboard.png
  demo/vagrant/jobs/grafana.nomad
  demo/vagrant/jobs/haproxy.nomad
  demo/vagrant/jobs/prometheus.nomad
  demo/vagrant/jobs/webapp.nomad
Labels: demo, enhancement

#130 cli: always use cli exit code when exiting main function.
  main.go
Labels: bug, cli

#126 agent: log when scaling has been successfully submitted
  agent/agent.go
Labels: agent, enhancement

#125 plugin: fix Nomad APM bug when querying groups on multiple clients.
  plugins/builtin/apm/nomad/plugin/metrics.go
  plugins/builtin/apm/nomad/plugin/metrics_test.go
Labels: bug, plugins

#128 Update Nomad dependancy to 0.11.2
  demo/vagrant/Vagrantfile
  go.mod
  go.sum
  plugins/builtin/target/nomad/plugin/state.go
  plugins/builtin/target/nomad/plugin/state_test.go
Labels: dependecy, enhancement

#131 docs: update README and CHANGELOG based on PR 125, 126, 128 & 130.
  CHANGELOG.md
  README.md
Labels: documentation, enhancement

#135 agent: configure target-strategy plugin for automatic launching.
  agent/config/config.go
  agent/config/config_test.go
  agent/plugins_test.go
Labels: agent, enhancement

#136 changelog: add entry for GH-135
  CHANGELOG.md
Labels: documentation, enhancement

#134 Re-connect to Nomad if connection is lost
  CHANGELOG.md
  plugins/builtin/target/nomad/plugin/state.go
  policy/handler.go
  policy/manager.go
Labels: bug, policy

#140 bumping all images to
  demo/vagrant/Vagrantfile
  demo/vagrant/jobs/autoscaler.nomad
  demo/vagrant/jobs/grafana.nomad
  demo/vagrant/jobs/haproxy.nomad
Labels: demo, enhancement

#142 Small demo improvements
  demo/vagrant/jobs/grafana.nomad
  demo/vagrant/jobs/webapp.nomad
Labels: demo, enhancement

#139 agent: only enter out-of-bounds cooldown if time greater than 1s.
  policy/handler.go
Labels: agent, enhancement

#145 changelog: add entry for GH-139.
  CHANGELOG.md
Labels: documentation, enhancement

#141 Add the Autoscaler logs as annotations in grafana
  demo/vagrant/README.md
  demo/vagrant/files/dashboard.json
  demo/vagrant/jobs/autoscaler.nomad
  demo/vagrant/jobs/grafana.nomad
  demo/vagrant/jobs/loki.nomad
Labels: demo, enhancement
