Repository hashicorp/nomad-autoscaler, pull requests merged in 2021-01, with the labels that each got.

#329 test: fix-up tooling installation and dependancy management.
  GNUmakefile
  tools/go.mod
  tools/go.sum
Labels: stage/accepted, theme/testing, type/bug

#328 demo/vagrant/das: discover latest Nomad version via Checkpoint.
  demo/vagrant/dynamic-app-sizing/Vagrantfile
Labels: stage/accepted, theme/demo/dynamic-app-sizing, type/bug

#331 demo/vagrant/das: remove use for deprecated network spec params.
  demo/vagrant/dynamic-app-sizing/jobs/das-autoscaler.nomad
  demo/vagrant/dynamic-app-sizing/jobs/prometheus.nomad
Labels: stage/accepted, theme/demo/dynamic-app-sizing, type/enhancement

#334 Query Nomad APM for memory values relative to task group
  plugins/builtin/apm/nomad/plugin/job.go
  plugins/builtin/apm/nomad/plugin/job_test.go
  plugins/builtin/apm/nomad/plugin/metrics.go
  plugins/builtin/apm/nomad/plugin/metrics_test.go
Labels: stage/accepted, theme/apm/nomad, type/enhancement

#333 test: add hclogvet to check make target and tools install.
  GNUmakefile
  tools/go.mod
  tools/go.sum
  tools/tools.go
Labels: theme/testing, type/enhancement

#346 test: use gotestsum to capture test output for easier viewing.
  .circleci/config.yml
  .circleci/config/jobs/lint-go.yml
  .circleci/config/jobs/test-go.yml
  GNUmakefile
  tools/go.mod
  tools/go.sum
  tools/tools.go
Labels: theme/testing, type/enhancement

#349 agent: add pprof HTTP debug endpoints.
  agent/config/config.go
  agent/config/config_test.go
  agent/http/server.go
  agent/http/testing.go
  command/agent.go
Labels: theme/agent, type/enhancement

#360 demo/remote/aws: update AWS dir structure to match Azure.
  demo/remote/README.md
  demo/remote/aws/.gitignore
  demo/remote/aws/README.md
  demo/remote/aws/packer/aws-packer.pkr.hcl
  demo/remote/aws/terraform/control/main.tf
  demo/remote/aws/terraform/control/outputs.tf
  demo/remote/aws/terraform/control/terraform.tfvars.sample
  demo/remote/aws/terraform/control/variables.tf
  demo/remote/aws/terraform/modules/aws-hashistack/asg.tf
  demo/remote/aws/terraform/modules/aws-hashistack/elb.tf
  demo/remote/aws/terraform/modules/aws-hashistack/iam.tf
  demo/remote/aws/terraform/modules/aws-hashistack/instances.tf
  demo/remote/aws/terraform/modules/aws-hashistack/outputs.tf
  demo/remote/aws/terraform/modules/aws-hashistack/provider.tf
  demo/remote/aws/terraform/modules/aws-hashistack/sg.tf
  demo/remote/aws/terraform/modules/aws-hashistack/templates.tf
  demo/remote/aws/terraform/modules/aws-hashistack/templates/aws_autoscaler.nomad
  demo/remote/aws/terraform/modules/aws-hashistack/templates/user-data-client.sh
  demo/remote/aws/terraform/modules/aws-hashistack/templates/user-data-server.sh
  demo/remote/aws/terraform/modules/aws-hashistack/variables.tf
  demo/remote/packer/config/10-consul.dnsmasq
  demo/remote/packer/config/99-default.dnsmasq.aws
  demo/remote/packer/config/consul.hcl
  demo/remote/packer/config/consul_aws.service
  demo/remote/packer/config/consul_client.hcl
  demo/remote/packer/config/nomad.hcl
  demo/remote/packer/config/nomad.service
  demo/remote/packer/config/nomad_client.hcl
  demo/remote/packer/scripts/client.sh
  demo/remote/packer/scripts/net.sh
  demo/remote/packer/scripts/server.sh
  demo/remote/packer/scripts/setup.sh
  demo/remote/shared/terraform/modules/shared-nomad-jobs/files/grafana.nomad
  demo/remote/shared/terraform/modules/shared-nomad-jobs/files/prometheus.nomad
  demo/remote/shared/terraform/modules/shared-nomad-jobs/files/traefik.nomad
  demo/remote/shared/terraform/modules/shared-nomad-jobs/files/webapp.nomad
  demo/remote/shared/terraform/modules/shared-nomad-jobs/jobs.tf
  demo/remote/shared/terraform/modules/shared-nomad-jobs/variables.tf
  demo/remote/shared/terraform/modules/shared-nomad-jobs/version.tf
Labels: stage/accepted, theme/demo/aws, type/enhancement

#354 Don't block worker while evaluating a policy
  policyeval/base_worker.go
Labels: stage/accepted, theme/policy-eval

#365 Use default values for the Nomad client as provided by the `api` package
  agent/config/config.go
  agent/config/config_test.go
Labels: theme/agent, type/bug
